# Ignore all MP4 videos in any subfolder
**/*.mp4
**/*.jpg
**/*.png
# System files
.DS_Store

# Ignore all folders starting with upscayl_ and everything inside them
**/upscayl_*/

# Ignore the virtual environment folder and its contents
.venv/
venv/